#datatypes

In [ ]:
#list
#it can be denoted by '[]'
fruits=["apple","mango","strawberry","banana"]
vegetables=["onion","brinjal","potato"]
print(type(fruits))

<class 'list'>

In [ ]:
#list
datatypes=["list","tuple","string","dictionary","set"]
names=["tharun","pavan","gayathri","satyam"]
print(type(names))

<class 'list'>

In [ ]:
numbers=[1,2,3,]
fruits=["orange","sapota","kiwi"]
print(type(numbers))

<class 'list'>

In [ ]:
NUMBERS=[1,2,3,4]
numbers=[1,2.8,5,7]
print(type(NUMBERS))

<class 'list'>

In [ ]:
#index
#index is two types-possitive index,negative index
#positive index starts from right hand side 0,1,2,3,4------
#negative index starts from left hand sinde-1,-2,-3,-4,-5,-6----
fruits=["popaya","orange","apple","banana"]
print(fruits[3])
#2
print(fruits[1])
#3
print(fruits[2])
#negative index
print(fruits[-2])
#2
print(fruits[-1])
#3
print(fruits[-4])

banana
orange
apple
apple
banana
popaya

In [ ]:
numbers=[1,2,3,4,5,6,7]
print(numbers[3])
#2
print(numbers[6])
#3
print(numbers[5])
#negative index
print(numbers[-4])
#2
print(numbers[-3])
#3
print(numbers[-5])

4
7
6
4
5
3

In [ ]:
#slicing list
#it is defined by starting value from ending value
#in ending value'(n-1)' must be added
#it is denoted by ':'
names=["pavan","tharun","harish","sandeep"]
print(names[1:3])
#here we get 1:3. but '3' means sadeep. here we added '(n-1)'
#2
numbers=[1,2,3,4,5]
print(numbers[2:4])
#3
print(numbers[1:])
#4
print(numbers[:4])

['tharun', 'harish']
[3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4]

In [54]:
#concatenation
#it means adding of list in manner
vegetables=["tomato","onion","pumpkin","beetroot","carrot"]
fruits=["apple","banana","orange"]
c=vegetables+fruits
print(c)

['tomato', 'onion', 'pumpkin', 'beetroot', 'carrot', 'apple', 'banana', 'orange']

In [59]:
#repetition
#it means multiplication of numbers
a=[2,4,6,8,10,12]
b=a*5
print(b)
b=a*20
print(b)

[2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12]