In [ ]:
a = "voting system"
above_eighteen_years = ["eligible"]
below_eighteen_years = ["not eligible"]
print(a)
b= input("enter your age")
c=input("enter your age below eighteen")
if b in above_eighteen_years:
  print("eligible")
elif b in below_eighteen_years:
  print("not eligible")
else:
  print("eligible")
  print("not eligible")

voting system
enter your age18
enter your age below eighteen17
eligible
not eligible

In [ ]:
#biggest number among 3
def find_largest_number(no1, no2, no3):
    if no1 >= no2 and no1 >= no3:
        return no1
    elif no2 >= no1 and no2 >= no3:
        return no2
    else:
        return no3

a = 10
b = 25
c = 15
biggest_num = find_largest_number(a, b, c)
print("The biggest_num among", a, ",", b, "and", c, "is", largest)

The biggest_num among 10 , 25 and 15 is 25

In [7]:
#prime or not
n=int(input("Enter a number:"))
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

Enter a number:2
prime

In [1]:
#vowels
input_string = "my name is pavan"
vowels = set('aeiouAEIOU')
vowel_count = 0
for char in input_string:
    if char in vowels:
        vowel_count += 1
print(f"The number of vowels in the string is: {vowel_count}")

#consonets
input_string = "i completed my btech"
vowels = 'aeiouAEIOU'
consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
vowel_count = 0
consonant_count = 0
for char in input_string:
    if char in vowels:
        vowel_count += 1
    elif char in consonants:
        consonant_count += 1
print(f"Vowels: {vowel_count}")
print(f"Consonants: {consonant_count}")

The number of vowels in the string is: 5
Vowels: 5
Consonants: 12

In [2]:
#to count occurance of a char
name="i am pavan and i am learning datascience"
char="a"
print(name.count(char))

8

In [3]:
#febonacci series
a=0
b=1
series_length = 20

print(a, b, end=' ')
for i in range(series_length):
    c = a + b
    print(c, end=' ')
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [ ]:
#max and min
list_A=[2,54,23]
list_B=[-2,4,1]
combined_list= list_A + list_B
max_num= max(combined_list)
min_num= min(combined_list)
print("maximum value:",max_num)
print("minimum value:",min_num)

maximum value: 54
minimum value: -2

In [ ]:
#convert list to string
list_1=["delhi"," ","is"," ","the"," ","capital"," ","of"," ","india."]
print("".join(list_1))

delhi is the capital of india.

In [ ]:
#remove white spaces
my_str="         i am from andhra pradesh     "
string=my_str.strip()
print(string)

i am from andhra pradesh

In [ ]:
#reverse a string
my_str="i am going to eluru"
print(my_str[::-1])

urule ot gniog ma i